* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7357e8;
}
.search{
    display: flex;
}
input{
    width: 0;
    height: 36px;
    outline: 0;
    border: 0;
    transition: all 0.5s ease;
}
.active{
    width: 200px;
    padding-left:10px;
}
.search-icon{
    cursor: pointer;
    width: 36px;
    height: 36px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}
.search-icon img{
    width: 60%;
    height: 60%;
}